*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cus-container{
    width: 50%;
    margin: auto;
}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
table{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.bink{
    background-color: rgb(199,67,133);
    color: white;
    padding: 15px;
    font-size: 20px;
}
.black{
   background-color: rgb(66,81,90); 
   padding:10px;
   color: white;
}